<h1>Perfil</h1>


  <p>
    <strong> Nombre:  </strong>
    <%= @user.first_name %>
  </p>
    <p>
    <strong> Apellido:  </strong>
    <%= @user.last_name %>
  </p>
    <p>
    <strong> Edad:  </strong>
    <%= @user.age %>
  </p>
    <p>
    <strong> Universidad:  </strong>
    <%= @user.university %>
  </p>
  <p>
    <strong> Profesion:  </strong>
    <%= @user.profession %>
  </p>  
  <p>
    <strong> Busco trabajo como:  </strong>
    <%= @user.job_looking_for %>
  </p>

    <h2> Mis habilidades</h2>
    <% @abilities.each do |a| %>
      <%= link_to "#{a.name}", a %> 
      <% if a.has_validations? %>
        habilidad validada por experto(s)
        <%end%>
      <br/>
    <% end %>
    <% if @user.id == current_user.id %><br/>
      <%= link_to "Agregar habilidad", new_ability_url %>
    <% end %>



  <br/>
<h2> Empresas </h2>
  <% if @user.id == current_user.id %>
    <% if @user.company %>
      Usted representa a la empresa <%= @user.company.name %> <br/>
      <%= link_to "Buscar candidatos a empleos para #{@user.company.name}", choose_jobs_url %>
    <% else %>
      <%= link_to "Representar empresa", new_company_url %>
    <% end %>
  <% end %>

  <h2> Expertises </h2>
  <div>
    Tener una expertise en un área te permite validad las habilidades de otros usuarios en esa área<br/>
    <% @expertises.each do |e| %>
      <%= link_to "#{e.area}", e %>
    <% end %>


    <br/>
    <% if @user.id == current_user.id %><br/>
      <%= link_to "Agregar expertise", new_expertise_url %>
    <% end %>
  </div>